@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of
  * content. Table of content is use display the overall tree structure of your
  * Layout.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following color code and add your own as this is just and
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following typography and add your own as this is just and
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* header section starts here */

body{
  font-family: Tahoma, sans-serif;
}

.padding{
  padding: 0 160px;
}

.top_options{
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}

.t_opt_left{
  display: flex;
  align-items: center;
  height: 50px;
}

.t_opt_left img{
  height: 100px;
  width: 150px;
  position: relative;
  top: 6px;
  right: 12px;
}

.t_opt_left input{
  font-size: 14px;
  font-weight: 600;
  padding: 5px 20px;
  border: none;
  border-radius: 2px;
  background-color: #d6d6d6;
}

.t_opt_left button{
  border: none;
  background-color: #292929;
  height: 27px;
  border-radius: 0 2px 2px 0;
  margin-right: 20px;
}

.t_opt_left i{
  color: #fff;
  font-size: 16px;
}

.t_opt_left span{
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.t_opt_right,.t_opt_right ul{
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.t_opt_right ul,.t_opt_right a{
  list-style: none;
  color: #5d5d5d;
  text-decoration: none;
}

.t_opt_right ul{
  box-shadow: inset 1px 0px 30px 0px rgba(0, 0, 0, 0.19);
  height: 99%;
  padding: 0 2px 0 20px;
  margin-right: 10px;
}

.t_opt_right li{
  font-size: 12px;
  margin-right: 20px;
}

.t_opt_right ul i{
  font-size: 14px;
}

.t_opt_right i{
  color: #5d5d5d;
  font-size: 20px;
  cursor: pointer;
}

.shope_icon{
  position: relative;
}

.shope_icon span{
  background-color: #bf2334;
  font-size: 10px;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  position: absolute;
  right: -10px;
  top: -7px;
}

/* navigation menu */

nav{
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

nav ul{
  list-style: none;
  display: flex;
  height: 30px;
  align-items: center;
  font-size: 15px;
}

nav ul:first-child li{
  margin-right: 14px;
}

nav li{
  cursor: pointer;
  z-index: 10;
  text-transform: capitalize;
}

.active{
  color: yellow;
}

.uppercase{
  text-transform: uppercase;
}

.capitalize{
  text-transform: capitalize;
}

nav ul i{
  font-size: 9px;
}

/* banner section */

.banner_img img{
  width: 100%;
  height: 510px;
}

.banner_img{
  position: relative;
}

.banner_opt{
  position: absolute;
  right: 160px;
  bottom: 150px;
}

.banner_opt p{
  display: inline;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  padding: 20px 50px;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid #fff;
  text-transform: uppercase;
}

.banner_bar{
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  left: 160px;
  bottom: 50px;
  width: 325px;
  text-align: center;
  padding: 7px 10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
}

.banner_bar i{
  margin: 0 10px 0 20px;
  font-size: 12px;
  cursor: pointer;
}

.banner_bar div{
  background-color: #989898;
  height: 13px;
  width: 13px;
  border-radius: 30px;
  margin-right: 6px;
  cursor: pointer;
}

.banner_bar .whitebackground{
  background-color: #fff;
}

.banner_bar p{
  border-left: 1px dashed #fff;
  padding-left: 12px;
  margin-left: 6px;
  font-size: 13px;
  text-transform: uppercase;
}

/* header section ends here */
/* shopping section starts here */

.shopping_sec{
  background-image: url("../images/background1.jpg");
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.shopping h2{
  font-size: 18px;
  color: #6a6e71;
  text-transform: uppercase;
}

.shopping_data{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.shopping_data img{
  height: 100px;
  width: 125px;
  position: relative;
}

.img1{
  right: 10px;
}

.shopping_data figure .img2{
  width: 150px;
  height: 90px;
  right: 10px;
  top: 3px;
}

.shopping_data figure .img3{
  width: 120px;
  height: 120px;
  bottom: 15px;
  right: 10px;
  margin-right: 20px;
}

.shopping_data figure .img4{
  width: 100px;
  height: 70px;
  right: 15px;
  top: 10px;
}

.shopping_data ul{
  list-style: none;
  color: #606060;
  font-size: 14px;
}

.shopping_data ul li{
  margin-top: 5px;
  cursor: pointer;
  text-transform: capitalize;
}

.shopping_data i{
  font-size: 9px;
  cursor: pointer;
}

/* shopping section ends here */
/* activity sectioin starts here */

.activity{
  position: relative;
  background-image: url("../images/activitymountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.activity h3{
  color: #8b8c8e;
  font-size: 20px;
  padding: 25px 160px 70px 160px;
  font-weight: 600;
  text-transform: uppercase;
}

.activity_opts{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a_opt{
  text-align: center;
  width: 100%;
}

.a_opt img{
  height: 180px;
  width: 135px;
  opacity: 0.8;
  margin-bottom: 30px;
}

.a_opt figure .aimg1{
  margin-bottom: 31px;
  position: relative;
  left: 73px;
}

.a_opt figure .aimg2{
  width: 160px;
  height: 165px;
  margin-bottom: 46px;
}

.a_opt figure .aimg3{
  margin-bottom: 31px;
}

.a_opt figure .aimg4{
  height: 215px;
  margin-bottom: -4px;
  position: relative;
  bottom: 20px;
}

.a_opt figure .aimg5{
  width: 157px;
  margin-bottom: 31px;
}

.a_opt figure .aimg6{
  margin-bottom: 31px;
}

.a_opt figure .aimg7{
  width: 90px;
  margin-bottom: 12px;
  position: relative;
  right: 70px;
  height: 200px;
  bottom: 21px;
}

.a_opt p{
  color: #8b8c8e;
  font-weight: 600;
  background-color: #ebebeb;
  padding: 30px;
  font-size: 17px;
}

.a_opt p span{
  cursor: pointer;
  text-transform: uppercase;
}

.a_opt .apara1{
  padding-left: 160px;
  padding-right: 60px;
}

.a_opt .apara7{
  padding-right: 160px;
  padding-left: 60px;
}

/* activity section ends here */
/* world of reebok section starts here */

.worlds{
  display: flex;
  justify-content: space-between;
}

.reebok_world h4{
  font-size: 18px;
  color: #6f6f6f;
  margin: 55px 0 25px 0;
  text-transform: uppercase;
}

.world p{
  font-size: 15px;
  color: #2f2f2f;
  padding: 15px 0 60px 15px;
}

.world p span{
  cursor: pointer;
  text-transform: capitalize;
}

/* world of reebok section starts here */
/* footer section starts here */

.foot_heading{
  display: flex;
  background-color: #32332f;
  color: #fff;
}

.foot_heading h5{
  padding: 15px 20px;
  font-size: 13px;
  box-shadow: inset 5px 0px 3px -2px rgba(0, 0, 0, 0.39);
}

.foot_heading h5:first-child{
  padding-left: 0;
  box-shadow: none;
}

.foot_heading h5::first-letter{
  text-transform: capitalize;
}

/* footer section */

.foot_section{
  background-color: #373833;
  display: flex;
  justify-content: space-between;
}

.f_s{
  margin: 40px 0;
}

.f_s ul:not(:first-child){
  margin-top: 10px;
}

.f_s ul{
  list-style: none;
}

.f_s ul li:first-child a{
  color: #6f6f6f;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.f_s ul li a{
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  text-transform: capitalize;
}

.fb_foot h6{
  color: #444;
  background-color: #fff;
  border: 1px solid #8f929b;
  border-bottom: none;
  text-align: center;
  border-radius: 4px 4px 0 0;
  font-size: 12px;
  padding: 4px 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.fb_foot p{
  color: #fff;
  background-color: #4b64b0;
  text-align: center;
  border-radius: 0 0 4px 4px;
  font-size: 12px;
  padding: 4px 5px;
  font-weight: 600;
  cursor: pointer;
  text-transform: capitalize;
}

/* signin section */

.signin{
  background-color: #42423d;
  display: flex;
  justify-content: space-between;
  padding: 35px 160px;
}

.signin h6{
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.signin h6 span{
  color: #c22436;
}

.signin p{
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  background-color: #c22436;
  border-radius: 5px;
  padding: 7px 15px;
}

.signin p a{
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}

.signin p i{
  margin-left: 40px;
}

/* banks section */

.banks{
  background-color: #373833;
  text-align: center;
}

.banks i{
  font-size: 45px;
  margin: 35px 10px 70px 10px;
  color: #fff;
}

/* copywrite section */

.copywrite{
  background-color: #373833;
  text-align: center;
  position: relative;
}

.copywrite p{
  font-size: 13px;
  color: #9b9b9b;
  padding-bottom: 30px;
  display: inline-block;
}

.copywrite figure{
  display: inline;
}

.copywrite img{
  height: 30px;
  width: 70px;
  margin-left: 5px;
}

.fixed{
  position: absolute;
  display: flex;
  right: 30px;
  bottom: 30px;
}

.fixed h5{
  color: #fff;
  background-color: black;
  font-size: 11px;
  padding: 7px 10px;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
}

.fixed h6{
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}

.fixed h6 i{
  font-size: 42px;
}

.fixed span{
  color: #fff;
  position: absolute;
  left: 5px;
  top: 8px;
  font-size: 12px;
  text-transform: capitalize;
}

/* footer section ends here */
/* responsive stylesheet starts here */

@media only screen and (max-width: 768px){
  /* header section starts here */

.padding{
  padding: 0;
}

.top_options{
  flex-direction: column;
}

.t_opt_left{
  flex-direction: column;
  height: auto;
}

.t_opt_left img{
  position: static;
}

.t_opt_left button{
  margin: 10px 0;
}

.t_opt_right,.t_opt_right ul{
  flex-direction: column;
}

.t_opt_right ul{
  margin: 10px 0;
}

.t_opt_right li{
  padding: 10px;
}

.t_opt_right i{
  margin-bottom: 10px;
}

nav{
  flex-direction: column;
  justify-content: flex-start;
}

nav ul{
  height: auto;
  flex-direction: column;
}

nav li{
  margin: 5px 0;
}

.banner_opt{
  right: 10px;
  bottom: 80px;
}

.banner_opt p{
  display: block;
  padding: 5px;
  margin-top: 5px;
}

.banner_bar{
  width: 205px;
  right: 10px;
  bottom: 20px;
  left: auto;
}

/* header section ends here */
/* shopping section starts here */

.shopping_sec{
  flex-direction: column;
  padding: 20px 0;
}

.shopping{
  padding: 10px;
}

.shopping_data{
  justify-content: center;
}

/* shopping section ends here */
/* activity section starts here */

.activity h3{
  padding: 20px 0;
  text-align: center;
}

.activity_opts{
  flex-direction: column;
}

.activity_opts .a_opt figure img{
  margin: 0;
}

.a_opt p{
  margin: 20px 0;
}

.a_opt figure .aimg1{
  left: auto;
}

.a_opt .apara1{
  padding: 30px;
}

.a_opt figure .aimg4{
  bottom: auto;
}

.a_opt figure .aimg7{
  right: auto;
  bottom: auto;
}

.a_opt .apara7{
  padding: 30px;
  margin: 0;
}

/* activity section ends here */
/* reebok world section starts here */

.worlds{
  flex-direction: column;
  text-align: center;
}

.reebok_world h4{
  text-align: center;
}

.world p{
  padding-left: 0;
}

/* reebok world section ends here */
/* footer section starts here */

.foot_heading{
  flex-direction: column;
}

.foot_heading h5:first-child{
  padding: 15px 20px;
}

.foot_heading h5{
  box-shadow: none;
}

/* foot section */

.foot_section{
  flex-direction: column;
  text-align: center;
}

.f_s{
  margin: 20px 0;
}

.fb_foot h6{
  width: 30px;
  margin: 0 auto;
}

.fb_foot p{
  width: 62px;
  margin: 0 auto;
}

/* signup section */

.signin{
  flex-direction: column;
}

.signin h6{
  padding: 10px;
}


/* footer section ends here */

}

/* responsive stylesheet ends here */
